{% extends 'base.html' %}

{% block title %} Create new blog.. {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <h1> Add Post... </h1>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-info">Post</button>
            
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("authorID").value = name;
    </script>
{% else %}
    <strong> You are not allowed in this page!! </strong>
{% endif %}

{% endblock %}