{% extends 'base.html' %}
{% load static %}

{% block title %} {{ post.title_tag }} {% endblock title %}

{% block content %}


    <h1> {{ post.title }} </h1>
    <small> By: {{ post.author.first_name }} {{ post.author.last_name }} </small>
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        | <a href="{% url 'update-post' post.pk %}">Edit</a> || <a href="{% url 'delete-post' post.pk %}">Delete</a>
    {% endif %}
    {% endif %}
    <br/> {{ post.post_date }}
    <br/><hr/> <br/>

    {% if post.header_image %}
        <img src="{{ post.header_image.url }}"> <br/>
    {% endif %}

    {{ post.body|safe }}

    <br/> <br/> <hr/>

    <form action="{% url 'like-post' post.pk %}" method="POST">
        {% csrf_token %}

        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-secondary btn-sm">Unike</button>
            {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-info btn-sm">Like</button>
            {% endif %}
        {% else %}
            <strong><small> You must be logged in to like the post </small></strong>
        {% endif%}
        - {{ total_likes }} Likes
    </form>

    <br/>


    <div class="card text">
        <div class="card-header">
           <h3> Comments.. </h3>
        </div>
        {% if not post.comments.all %}
            No comments Yet...... 
            <a href ="#">Add Comment</a>
        {% else %}
            {% for comment in post.comments.all %}
                <div class="card-body">
                    <h5 class="card-title  text-muted"> {{ comment.name }} <small> - {{ comment.date_added }} </small></h5> 
                    <p class="card-text"> {{ comment.body }} </p>               
                </div>
                <div class="card-footer">                  
                </div>
            {% endfor %}
        {% endif %}
    </div>     

    <br/> <hr/> <br/>


    <div class="row">
        <div class="card" style="width: 10rem; height: 13rem;">
            {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" width=150, height=200,  alt="...">
            {% else %}
                <img src="{% static 'images/default_profile_pic.png' %}" class="card-img" width=250, height=200, alt="...">
            {% endif %}
            <h6 class="card-title">Profile Pic</h6>            
        </div>
        <div class="col-sm-7">
          <div class="card">
            <div class="card-body" style="height: 13rem; background-color: lightblue">
                <h5 class="card-title">{{ post.author.username }}</h5>
                <p class="small text-muted">
                    {% if post.author.profile.id %}
                        <a href="{% url 'show-profile' post.author.profile.id %}">Profile</a>
                    {% endif %} 
                    {% if post.author.profile.facebook_url %}
                        || <a href="{{ post.author.profile.facebook_url }}">Facebook</a>
                    {% endif %}  
                    {% if post.author.profile.github_url %}
                        || <a href="{{ post.author.profile.github_url }}">Github</a> 
                    {% endif %}
                </p>
              <p class="card-text">{{ post.author.profile.bio }}</p>
              
            </div>
          </div>
        </div>
      </div>


{% endblock %}