{% extends 'base.html' %}

{% block title %} Delete your blog! {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <h1> Delete Post... </h1>
    <br/>
    {% if user.id == post.author.id %}
        <h3> Delete: {{ post.title }} </h3>

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <strong> Are you sure? </strong> <br/> <br/>
                <button class="btn btn-danger">Delete</button>
                
        </div>
    {% else %}
        <strong> Mortal ! You are not capable of deleting anything!!! </strong>
    {% endif %}
{% else %}
    <strong> You are not allowed in this page!! </strong>
{% endif %}

{% endblock %}