{% extends 'base.html' %}

{% block title %} Update your blog! {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <h1> Update Post... </h1>
    {% if user.id == post.author.id %}
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-info">Update</button>
                
        </div>
    {% else %}
    <strong><br/> Mortal ! You are not capable of editing in this page!!! </strong>
    {% endif %}
{% else %}
    <strong> You are not allowed in this page!! </strong>
{% endif %}
{% endblock %}